<div class="hotels_form">
    <h1><i class="fa fa-bed"></i> Hotéis</h1>
    <h2>+ 170.000 hotéis, pousadas e resorts no mundo todo.</h2>
    <div class="row form">
        <span class="col-xs-5">
            <label for="local_search">Quer ficar onde?</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa-map-marker fa"></i></span>
                <input type="text" class="form-control" id="local_search" ng-model="searchString" placeholder='Cidade ou hotel' ng-change="placesSearch()"/>
            </div>
        </span>
        <span class="col-xs-7">
            <label for="enter_date">Quando? <small>(Entrada e Saída)</small></label>
            <div class="row">
                <span class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-calendar fa"></i></span>
                        <input type="text" class="form-control" id="enter_date" ng-model="enterDate" placeholder='entrada' ng-change="hotelSearch()"/>
                    </div>
                </span>
                <span class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-calendar fa"></i></span>
                        <input type="text" class="form-control" id="exit_date" ng-model="exitDate" placeholder='saída' ng-change="hotelSearch()"/>
                    </div>
                </span>
                <span class="col-xs-12">
                    <p>
                        <input type="checkbox" ng-model="undefinedDate" ng-change="hotelSearch()" /> Ainda não defini as datas
                    </p>
                </span>
            </div>
        </span>
        <span class="col-xs-12 button">
            <button ng-click="hotelSearch()"><i class="fa fa-search"></i> Buscar</button>
        </span>
    </div>
</div>

<div class="clearfix"></div>

<table class="hotels_list" class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>Hotel</th><th>Cidade</th><th>Disponibilidade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in hotel_results">
        <td>{{ result.hotel }}</td>
        <td>{{ result.city }}</td>
        <td>{{ result.disponibilities }}</td>
    </tr>
    </tbody>
</table>
