<div class="hotels_form">
    <h1><i class="fa fa-bed"></i> Hotéis</h1>
    <h2>+ 170.000 hotéis, pousadas e resorts no mundo todo.</h2>
    <div class="row form">
        <span class="col-xs-5">
            <label for="local_search">Quer ficar onde?</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa-map-marker fa"></i></span>
                <input type="text" class="form-control" id="local_search" ng-focus="focus=true" ng-model="searchString" placeholder='Cidade ou hotel' ng-change="places()"/>
                <input type="hidden" ng-model="cityId" placeholder='Cidade ou hotel' ng-change="places()"/>
                <input type="hidden" ng-model="placeId" placeholder='Cidade ou hotel' ng-change="places()"/>
                <div class="popover bottom" ng-show="places_results.length && focus">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        <ul class="autocomplete">
                            <li ng-repeat="result in places_results" ng-click="setPlaceValue(result)" class="{{ result.type }}">{{ result.name }} <small ng-if="result.city">- {{ result.city }}</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
        <span class="col-xs-7">
            <label for="enter_date">Quando? <small>(Entrada e Saída)</small></label>
            <div class="row">
                <span class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-calendar fa"></i></span>
                        <input type="text"
                               class="form-control"
                               id="enter_date" 
                               bs-datepicker
                               ng-model="enterDate"
                               placeholder='entrada'/>
                    </div>
                </span>
                <span class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa-calendar fa"></i></span>
                        <input type="text"
                               class="form-control"
                               id="exit_date"
                               bs-datepicker
                               ng-model="exitDate"
                               placeholder='saída'/>
                    </div>
                </span>
                <span class="col-xs-12">
                    <p>
                        <input type="checkbox" ng-model="undefinedDate" /> Ainda não defini as datas
                    </p>
                </span>
            </div>
        </span>
        <span class="col-xs-12 button">
            <button ng-disabled="!(placeId && placeType && ((enterDate && exitDate) || undefinedDate))"
                ng-click="hotels()"><i class="fa fa-search"></i> Buscar</button>
        </span>
    </div>
</div>

<div class="clearfix"></div>

<table class="hotels_list table table-striped table-condensed" ng-if="disponibilities.length">
    <thead>
    <tr>
        <th>Dia</th><th>Hotel</th><th>Cidade</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="result in disponibilities">
        <td>{{ result.date }}</td>
        <td>{{ result.name }}</td>
        <td>{{ result.city }}</td>
    </tr>
    </tbody>
</table>
